{% extends 'base.html' %}
{% load static %}

{% block title %} Historique Commande {% endblock title %}

{% block others %}

{% endblock others %}

{% block bar_title %}Historique{% endblock bar_title %}
{% block bar_page %}Voir l'historique de mes commandes{% endblock bar_page %}

{% block content %}

<section id="section">
    <div class="container">
        <div class="row">
            <div class="span12">
                  <div class="span12">
                <h4>Mes différentes commandes</h4>
                <table class="table">
                <thead>
                    <tr>
                    <th>
                        
                    </th>
                    <th>
                        Date commande
                    </th>
                    <th>
                        Date livraison
                    </th>
                    <th>
                        Details commande
                    </th>
                   
                    </tr>
                </thead>
                <tbody>
                {% for c in commandes %}
                        <tr class="success" style="color:black;font-weight:bold;">
                            <td>
                                {{ forloop.counter }}
                            </td>
                            <td>
                                {{ c.date_commande }}
                            </td>
                            <td>
                                {{ c.date_livraison }}
                            </td>
                            <td>
                                {% for d in details %}
                                    {% if d.id_commande.id  == c.id %}
                                        <u>Médi</u> : {{ d.id_medicament.libelle_produit }} <br>
                                        Type : {{ d.id_medicament.type_medicament.libelle }} <br>
                                        Quantité : {{ d.quantite_med }} <br> 
                                    {% endif %}
                                {% endfor %}
                            </td>                           
                        </tr>
                    {% endfor %} 
                </tbody>
                </table>
        
            </div>
        </div>
    </div>
</section>
   
{% endblock content %}

{% block myscriptjs %}
   

{% endblock myscriptjs %}
